body{
    color: darkslategray;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    width: 70%;
    text-align: left;
    padding: 1em;
    margin: 1em auto;
    border: 1px solid #ddd;
}

.container h1{
    font-size: 20px;
}